<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>this is Settings page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-1">
					<div class="card">
						<div class="card-body">
							<h3 class="my-3">Change Password</h3>
							<form th:action="@{/user/change-password}" method="post">

								<!-- old password field -->
								<div class="form-group">
								
									<input name=oldPassword type="password" class="form-control"
										placeholder="Enter Old Password " />
								</div>

								<!-- new password field -->
								<div class="form-group">
								
									<input name=newPassword type="password" class="form-control"
										placeholder="Enter New Password " />
								</div>
								
								<div class="container text-center">
								
								<button type="submit" class="btn btn-success">Change</button>
								<button type="reset" class="btn btn-warning">Reset</button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>




		<script>
			$(document).ready(() =>{
				$('.item').removeClass("active");
				$('#settings-link').addClass("active");
			});
		</script>

	</section>

</body>
</html>